<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886964566321-5l0k79d0t718qiho3dnnjpuffpjbruri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886964566321-5l0k79d0t718qiho3dnnjpuffpjbruri</string>
	<key>API_KEY</key>
	<string>AIzaSyBH9aKV4obZ2l3hX5vVXLhZg3Y8UZrwXFc</string>
	<key>GCM_SENDER_ID</key>
	<string>886964566321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projectm.flutterFcmPushNotify</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-push-notify-7d153</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-push-notify-7d153.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886964566321:ios:115684ae0e620be62b5810</string>
</dict>
</plist>